@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
*{
    font-family: 'Manrope', sans-serif;
    margin: 0;
    padding: 0;
}
html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}
header{
    max-width: 90%;
    min-height: 30px;
    margin: 0 auto 0px;
    padding: 0;
    margin-top: 2%;
    margin-left: 60%;
    position: absolute;
    text-align: center;
    font-size: 16px;
}
header li, a{
    text-align: center;
    text-decoration: none;
    color:#131d47;
    display: inline-block;
    padding: 6px 6px;
    font-family: 'Quicksand', sans-serif;
}
.subHover::after{
    content: ' ';
    display: block;
    width: 0;
    height: 2px;
    background:#131d47;
    transition: width .3s; 
}
.subHover:hover::after{
    width: 100%;
    transition: width .3s; 
}
.p1 h1{
    color: #93bfce;
    margin-left: 5%;
    position: absolute;
    font-size: 30px;
}
#this{
    margin-top: 22%;
}
#this1{
    margin-top: 25%;
}
#thisone{
    position: absolute;
    color: transparent;
    margin-top: -37%;
}
.p1 span{
    color: #131d47;
}
.p1 h2{
    margin-top: 30%;
    position: absolute;
    color:white;
    background-color:#93bfce;
    border-radius: 15px;
    margin-left: 5%;
    padding: 8px;
}
#dev{
    position: absolute;
    width: 740px;
    height: 500px;
    margin-left: 43%;
    margin-top: 7%;
}
#logo{
    position: absolute;
    height: 160px;
    width: 200px;
    margin-left: 5%;
    border-radius: 15px;
    margin-top: -2%;
}
.p2 #Box{
    margin-top: 50%;
    position: absolute;
    padding-right:100% ;
    padding-top: 37%;
margin-bottom: 3%;
    background-color: #131d47;
}
#h1Box{
    position: absolute;
    color: white;
    margin-top: -33%;
    margin-left: 43%;
    font-size: 40px;
}
#mision h3{
    color: white;
    margin-left: 15%;
    font-size: 25px;
    margin-top: -17%;
    position: absolute;
}
.lnr-eye{
    position: absolute;
    margin-top: -20%;
    color: white;
    font-size: 50px;
    margin-left: 15.8%;
}
#mision p{
    position: absolute;
    color: white;
    margin-top: -22.5%;
    margin-left: 22%;
    margin-right: 60%;
    text-align: justify;
}
#vision h3{
    color: white;
    margin-left: 57%;
    font-size: 25px;
    margin-top: -17%;
    position: absolute;
}
.lnr-flag{
    position: absolute;
    margin-top: -20.5%;
    color: white;
    font-size: 50px;
    margin-left: 59%;
}
#vision p{
    position: absolute;
    color: white;
    margin-top: -23.5%;
    margin-left: 64%;
    margin-right: 18%;
    text-align: justify;
}
#giro h3{
    color: #131d47;
    margin-left: 20%;
    font-size: 25px;
    margin-top: 90%;
    position: absolute;
}
.lnr-undo{
    position: absolute;
    margin-top: 94.5%;
    color: #131d47;
    font-size: 50px;
    margin-left: 24%;
}
#giro p{
    position: absolute;
    color:#131d47;
    margin-top: 100%;
    margin-left: 18%;
    margin-right: 64%;
    text-align: justify;
}
#funcion h3{
    color: #131d47;
    margin-left: 60%;
    font-size: 25px;
    margin-top: 90%;
    position: absolute;
}
.lnr-cog{
    position: absolute;
    margin-top: 94.5%;
    color: #131d47;
    font-size: 50px;
    margin-left: 67%;
}
#funcion p{
    position: absolute;
    color: #131d47;
    margin-top: 100%;
    margin-left: 60%;
    margin-right: 22%;
    margin-bottom: 3%;
    text-align: justify;
}
footer{
    border-top: #131d47 solid 1px;
    margin-left: 28%;
    margin-top: 120%;
    margin-bottom: 3%;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 15px;
    position: absolute;
}
footer h1{
    color: #93bfce;
}
.redes{
    margin-left: 25%;
}
footer a {
    color: white;
    background-color: #93bfce;
    font-size: 20px;
    margin-top: 2%;
    border-radius: 10px;
    padding: 10px;
    margin-left: 2%;
    cursor: pointer;
}
footer a:hover{
    color: #93bfce;
    background-color: white;
    transition: 0.5s;
}
/*-------------------RESPONSIVE - LAPTOP 1024px-----------------------*/
@media (max-width:1024px){
    header{
        margin-left: 55%;
    }
    .p1 h1{
        font-size: 24px;
    }
    #this{
        margin-top: 27%;
    }
    #this1{
        margin-top: 30%;
    }
    #thisone{
        margin-top: -35%;
    }
    .p1 h2{
        font-size: 20px;
        margin-top: 35%;
    }
    #dev{
        width: 560px;
        height: 380px;
        margin-left: 46%;
        margin-top: 12%;
    }
    .p2 #Box{
        margin-top: 57%;
        padding-right: 105%;
    }
    #h1Box{
        margin-left: 42%;
    }
    #mision h3{
        margin-top: -16%;
        margin-left: 8%;
    }
    .lnr-eye{
        margin-left: 8.8%;
    }
    #mision p{
        margin-top: -22.5%;
        margin-left: 17%;
        margin-right: 57%;
       
    }
    #vision h3{
        margin-left: 52%;
        margin-top: -16%;
    }
    .lnr-flag{
        margin-top: -20.5%;
        margin-left: 54%;
    }
    #vision p{
        margin-left: 61%;
        margin-right: 12%;
    }
    #giro h3{
        margin-left: 21%;
        margin-top: 99%;   
    }
    .lnr-undo{
        margin-top: 103%;
        margin-left: 27%;
    }
    #giro p{
        margin-top: 109%;
        margin-left: 19%;
        margin-right: 58%;
    }
    #funcion h3{
        margin-left: 56%;
        margin-top: 99%;
    }
    .lnr-cog{
        margin-top: 103%;
        margin-left: 65%;
    }
    #funcion p{
        margin-top: 109%;
        margin-left: 56%;
        margin-right: 21%;
    }
    footer{
        margin-left: 18%;
        margin-top: 135%;
    }

}
/*-------------------RESPONSIVE - TABLET 768px-----------------------*/
