@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
*{
    font-family: 'Manrope', sans-serif;
    margin: 0;
    padding: 0;
}
html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}
header{
    max-width: 90%;
    min-height: 30px;
    margin: 0 auto 0px;
    padding: 0;
    margin-top: 2%;
    margin-left: 67%;
    position: absolute;
    text-align: center;
    font-size: 16px;
}
header li, a{
    text-align: center;
    text-decoration: none;
    color:#131d47;
    display: inline-block;
    padding: 6px 6px;
    font-family: 'Quicksand', sans-serif;
}
.subHover::after{
    content: ' ';
    display: block;
    width: 0;
    height: 2px;
    background:#131d47;
    transition: width .3s; 
}
.subHover:hover::after{
    width: 100%;
    transition: width .3s; 
}
.p1 h1{
    color: #93bfce;
    margin-left: 5%;
    position: absolute;
    font-size: 30px;
}
#this{
    margin-top: 22%;
}
#this1{
    margin-top: 25%;
}
#this2{
    margin-top: 35%;
}
#h1Box{
    position: absolute;
    color: white;
    margin-top: -33%;
    margin-left: 42%;
    font-size: 40px;
}
#thisone{
    position: absolute;
    color: transparent;
    margin-top: -37%;
}
.p1 span{
    color: #131d47;
}
.p1 h2{
    margin-top: 30%;
    position: absolute;
    color:white;
    background-color:#93bfce;
    border-radius: 15px;
    margin-left: 5%;
    padding: 8px;
}
#serv{
    position: absolute;
    width: 740px;
    height: 500px;
    margin-left: 42%;
    margin-top: 9%;
}
#logo{
    position: absolute;
    height: 160px;
    width: 200px;
    margin-left: 5%;
    border-radius: 15px;
    margin-top: -2%;
}
.inf p{
    position: absolute;
    margin-left: 15%;
    margin-right: 20%;
    font-size: 20px;
    text-align: justify;
    margin-top: 55%;
    margin-bottom: 3%;
}
.inf span{
    color: #93bfce;
}
.bodycards{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: absolute;
    margin-top: 57%;
    margin-left: 10%;
}
.container{
    font-family: 'Manrope', sans-serif;
   width: 1000px;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   margin: 20px;
   position: relative;

}
.container .card{
    position: relative;
    height: 250px;
    background-color: white;
    display: flex;
    width: 45%;
    margin: 30px 0;
    box-shadow: 0px 0px 8px #9c9d9e;
    border-radius: 20px;
}
.container .card .imgBx{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    background-color: #131d47;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.5s ease-in-out;
    border-radius: 20px;
}
.container .card:hover .imgBx{
    width: 150px;
    height: 150px;
    left: -75px;
    top: calc(50% - 75px);
    transition: 0.5s ease-in-out;
}

.container .card .imgBx img{
    max-width: 100px;
    transition: 0.5s ease-in-out;
}
.container .card:hover .imgBx img{
    max-width: 75px;
}
.container .card .content{
    position: absolute;
    right: 5%;
    top: 2%;
    left: 15%;
    height: 70%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .card .content p{
    text-align: justify;
    color: black;
    margin-top: 3%;
}
.container .card .content h3{
    text-align: justify;
    color: #131d47;
    margin-top: 7%;
}
.container .card .content a{
    text-decoration: none;
    color: #93bfce;
    border: #93bfce 1px solid;
    padding: 5px;
    border-radius: 8px;
    margin-top: 5%;
}
.container .card .content a:hover{
    background-color: #93bfce;
    color: white;
    transition: 0.5s;
    
}

footer{
    border-top: #131d47 solid 1px;
    margin-left: 28%;
    margin-top: 100%;
    margin-bottom: 3%;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 15px;
    position: absolute;
}
footer h1{
    color: #93bfce;
}
.redes{
    margin-left: 25%;
}
footer a {
    color: white;
    background-color: #93bfce;
    font-size: 20px;
    margin-top: 2%;
    border-radius: 10px;
    padding: 10px;
    margin-left: 2%;
    cursor: pointer;
}
footer a:hover{
    color: #93bfce;
    background-color: white;
    transition: 0.5s;
}
